
<h1>Seleccionar imagen de perfil</h1>
<br/><br/><br/><br/>
<form enctype="multipart/form-data" action="/warbook/Profile/upload" method="post">
	
	<input type="file" name="imagen" />
	<br/><br/>
	<input type="submit" value="Upload"/>

</form>