<script type="text/javascript" src="../static/js/home.js"></script>
<div class="row" ng-controller="HomeController as vm" ng-cloak>
	<div class="col-md-2">
		<img ng-show="vm.ProfilePic==1"  src="../static/img/profile.jpg" alt="profile" class="img-circle" width="100" height="100">
		<img ng-show="vm.ProfilePic==2"  src="../static/img/profile_{{vm.UserID}}.jpg" alt="profile" class="img-circle" width="100" height="100">
	</div>
	<div class="col-md-7">
		<div class="panel panel-default">
				<div class="panel-body">
					<textarea class="form-control" rows="3" ng-model="vm.NewPost" placeholder="Share an idea"></textarea>
					<div style="margin-top: 10px; text-align: right;">
						<button type="button" class="btn btn-primary" ng-click="vm.Share();">Share</button>
					</div>
				</div>
		</div>
		<div class="panel panel-default" ng-repeat="post in vm.Post track by $index">
			<div class="panel-body">
				<img ng-show="post.ProfilePic==1" src="../static/img/profile.jpg" alt="profile" class="img-circle" width="50" height="50">
				<img ng-show="post.ProfilePic==2" src="../static/img/profile_{{post.UserID}}.jpg" alt="profile" class="img-circle" width="50" height="50">
				<strong> &nbsp;&nbsp;&nbsp;{{post.Name}}</strong>
				<p style="margin-left: 70px;">
					<br/>
					{{post.Content}}
				</p>
				<div class="status" style="text-align: right; margin-top:30px;">
					<button class="btn btn-primary" type="button">
						Total <span class="badge">{{post.SupportCount}}</span>
					</button>
					<button ng-show="vm.UserID != post.UserID" class="btn btn-default btn-success" ng-click="vm.Up(post.PostID);">
						Thumbs up <span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<button ng-show="vm.UserID != post.UserID" class="btn btn-default btn-danger" ng-click="vm.Down(post.PostID);">
						Thumbs down <span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
				</div>
				<hr/>
				<div class="comments">
					<div class="comment" ng-repeat="comment in post.Comments" style="clear:both;">
						<img style="float: left;" src="../static/img/user.jpg" alt="profile" class="img-circle" width="50" height="50">
						<p style="float: left; padding:20px;">
							{{comment.Content}}
						</p>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="col-md-3">
	  	<div class="panel panel-default">
			<div class="panel-heading">Friend requests</div>
			<div class="panel-body">
				<span ng-show="vm.Request.length == 0">No request pending</span>
				<div style=" display: block; float: left;width:50px; height: 70px;margin-right: 10px;" ng-repeat="friend in vm.Request">
					<a href="/warbook/Profile/view?UserID={{friend.RequesterID}}" class="thumbnail" >
						<img src="../static/img/profile.jpg" width="50" height="50" alt="fg">
						{{friend.FirstName}} {{Friend.LastName}}
						<br/>
					</a>
				</div>
			</div>
		</div>
  	</div>
</div>