<script type="text/javascript" src="../static/js/logon.js"></script>
<div ng-controller="LogonController as vm" ng-cloak>
	
	<div class="alert alert-danger" role="alert" ng-show="vm.ShowErrorMessageFlag">
		{{vm.ErrorMessage}}
	</div>
	<div class="alert alert-success" role="alert" ng-show="vm.ShowSuccessMessageFlag">
		{{vm.SuccessMessage}}
	</div>
	<form>
		<div class="row">
			<div class="col-lg-4">
				<h4>Personal information</h4>
				<div class="form-group">
					<label>First name</label>
					<input type="text" ng-model="vm.FirstName" class="form-control">
				</div>
				<div class="form-group">
					<label>Last name</label>
					<input type="text" ng-model="vm.LastName" class="form-control">
				</div>
				<div class="form-group">
					<label>Gender</label>
					<select class="form-control" ng-model="vm.Gender">
						<option value="1">Male</option>
						<option value="2">Female</option>
					</select>
				</div>
				<div class="form-group">
					<label>Birthdate</label>
					<input type="date" ng-model="vm.BirthDate"  class="form-control">
				</div>
			</div>
			<div class="col-lg-4">
				<h4>Login information</h4>
				<div class="form-group">
					<label>Email address</label>
					<input type="email" class="form-control" ng-model="vm.EmailAddress" placeholder="example@domain.com">
				</div>
				<div class="form-group">
					<label>Password</label>
					<input type="password" ng-model="vm.Password" class="form-control">
				</div>
				<div class="form-group">
					<label>Confirm password</label>
					<input type="password" ng-model="vm.PasswordConfirm" class="form-control">
				</div>
				<button class="btn btn-primary" ng-click="vm.RegisterNewUser();">Logon</button>
			</div>
		</div>
	</form>
</div>