<script type="text/javascript" src="../static/js/profile.js"></script>
<div class="row" ng-controller="ProfileController as vm">
	<div class="col-md-8">
		<div class="alert alert-success" ng-show="vm.ShowRequestMessage" role="alert">Friend request sent</div>
		<h4 ng-show="!vm.FriendID">My Ideas</h4>
		<h4 ng-show="vm.FriendID">{{vm.Name}} ideas</h4>
		<div class="panel panel-default" ng-show="!vm.FriendID">
			<div class="panel-body">
				<textarea class="form-control" rows="3" ng-model="vm.NewPost" placeholder="Share an idea"></textarea>
				<div style="margin-top: 10px; text-align: right;">
					<button type="button" class="btn btn-primary" ng-click="vm.Share();">Share</button>
				</div>
			</div>
		</div>
		<div class="panel panel-default" ng-repeat="post in vm.Post">
			<div class="panel-body">
				<img ng-show="vm.ProfilePic==1" src="../static/img/profile.jpg" alt="profile" class="img-circle" width="50" height="50">
				<img ng-show="vm.ProfilePic==2" src="../static/img/profile_{{vm.UserID}}.jpg" alt="profile" class="img-circle" width="50" height="50">
				<strong> &nbsp;&nbsp;&nbsp;{{vm.Name}}</strong>
				<p style="margin-left: 70px;">
					<br/>
					{{post.Content}}
				</p>
				<div class="status" style="text-align: right; margin-top:30px;">
					<button class="btn btn-primary" type="button">
						Total <span class="badge">{{post.SupportCount}}</span>
					</button>
					<button ng-show="vm.FriendID" class="btn btn-default btn-success" ng-click="vm.Up(post.PostID);">
						Thumbs up <span class="glyphicon glyphicon-thumbs-up"></span>
					</button>
					<button ng-show="vm.FriendID" class="btn btn-default btn-danger" ng-click="vm.Down(post.PostID);">
						Thumbs down <span class="glyphicon glyphicon-thumbs-down"></span>
					</button>
				</div>
				<hr/>
				<div class="comments">
					<div class="comment" ng-repeat="comment in post.Comments" style="clear:both;">
						<img style="float: left;" src="../static/img/user.jpg" alt="profile" class="img-circle" width="50" height="50">
						<p style="float: left; padding:20px;">
							{{comment.Content}}
						</p>
					</div>
				</div>
			</div>
		</div>
  	</div>
  	<div class="col-md-4">
	  	<div class="panel panel-default">
			<div class="panel-heading">Profile information</div>
			<div class="panel-body">
				<img ng-show="vm.ProfilePic==1" src="../static/img/profile.jpg" alt="profile" class="img-circle" width="100" height="100">
				<img ng-show="vm.ProfilePic==2" src="../static/img/profile_{{vm.UserID}}.jpg" alt="profile" class="img-circle" width="100" height="100">
				<p><br/></p>
				<ul class="list-group">
					<li class="list-group-item">{{vm.Name}}</li>
					<li class="list-group-item">{{vm.Age}} years old</li>
					<li class="list-group-item">{{vm.EMail}}</li>
					<li class="list-group-item">{{vm.Gender}}</li>
				</ul>
				<button class="btn btn-success" ng-click="vm.SendRequest();" ng-show="vm.vAreWeFriends==false && !vm.vRequestSent">Add to my contacts</button>
				<button class="btn btn-success" ng-show="vm.vRequestSent">Request sent</button>
				<h3>Contacts</h3>
				<hr/>
				<div style=" display: block; float: left;width:50px; height: 70px;margin-right: 10px;" ng-repeat="friend in vm.Friends">
					<a href="/warbook/Profile/view?UserID={{friend.FriendID}}" class="thumbnail" >
						<img ng-show="friend.ProfilePic==1" src="../static/img/profile.jpg" width="50" height="50" alt="fg">
						<img ng-show="friend.ProfilePic==2" src="../static/img/profile_{{friend.FriendID}}.jpg" width="50" height="50" alt="fg">
						{{friend.FirstName}} {{Friend.LastName}}
					</a>
				</div>
			</div>
		</div>
  	</div>
</div>